.container-padrao {
  padding-bottom: 2em;
  padding-top: 2em;
}

.legenda-principal {
  font-weight: bolder;
  font-size: 36px;
  color: white;
  padding-bottom: 0.5em;
}

.categoria {
  font-weight: bolder;
}

.far {
  color: white;
  padding-right: 1em;
}

.fas {
  color: white;
  padding-right: 1em;
}
.buttons {
  text-align: end;
}

.card-body {
  font-size: small;
}

.input-field {
  margin-left: auto;
  margin-bottom: 3em;
  padding: 0px 0px;
}
