.container-padrao {
  padding-bottom: 2em;
  padding-top: 2em;
}

.legenda-popular {
  font-weight: bolder;
  font-size: 36px;
  color: white;
  padding-bottom: 0.3em;
}

.categoria {
  font-weight: bolder;
}

.far {
  color: white;
  padding-right: 1em;
}

.fas {
  color: white;
  padding-right: 1em;
}
.buttons {
  text-align: end;
}
